<template>
  <div class="home">
    <h1><router-link :to="{ name: 'Tickets' }">Go to see tickets</router-link></h1>
  </div>
</template>

<script>

import { mapGetters } from 'vuex'
export default {
  name: 'Home',
  components: {
  
  },
  methods:{

  },

  computed: {
    ...mapGetters(['user'])
  }
}
</script>
