<template>
  <!--ticket details-->
   <TicketComponent @addComment="sendComment" :ticketDetails="ticketDetails" :loader= "loader"></TicketComponent>
   <!-- iframe (document preview- download) -->
   <IframePreviewComponent v-if="documentPreview.documentModal"></IframePreviewComponent>
   <!--comments-->
   <CommentComponent :comments="ticketComments"></CommentComponent>
</template>

<script>
import axios from 'axios'
import api from '../components/Api/api'
import { mapGetters, mapState } from 'vuex'
import auth from '../mixins/auth'
import TicketComponent from '../components/Ticket.vue'
import CommentComponent from '../components/Comments.vue'
import IframePreviewComponent from '../components/DocumentFrame.vue'
export default {
    name: 'Ticket',
    components:{ TicketComponent, CommentComponent, IframePreviewComponent },
    mixins:[auth],
    data(){
        return{
          showLoader: false,
        }
    },
    methods:{
        async ticketDetailsData(){
            const response = await axios.get(api.tickets + 'getOne/' + this.$route.params.id ,this.authorization());
            if(response){
            this.$store.dispatch('ticketDetails',response.data);
        }
      },
        async ticketCommentsData(){
            const response = await axios.get(api.comments + this.$route.params.id + '/allCommentsFromTask' ,this.authorization());
            if(response){
            this.$store.dispatch('ticketComments',response.data);      
         }
        },
        async sendComment(content){
          this.showLoader = true;
           const response = await axios.post(api.comments + 'addComment',{
             taskId: this.$route.params.id,
             userId: this.user.userId,
             commentContent: content
           },this.authorization())
           if(response){
             this.addComment = ''
              this.showLoader = false;
              this.ticketCommentsData()
             console.log(response.data)
           }
        }
    },
    mounted(){
      this.ticketDetailsData();
      this.ticketCommentsData();
    
    },
    computed:{
        ...mapGetters(['ticketDetails', 'user', 'ticketComments', 'documentPreview']),
          loader(){
          return this.showLoader
        }
    },
}
</script>

<style scoped>

</style>