<template>
   <section>
       <div class="main-container" v-for="ticket in tickets" :key="ticket.taskId">
          <router-link :to="{name:'Ticket', params:{id: ticket.taskId}}"><div class="ticket-item-container card">
            <span>#{{ ticket.taskId }}</span>
            <span class="ticket-title">{{ ticket.taskTitle }}</span>
            <span>created at</span>
          </div>  
          </router-link>
       </div>
   </section>
</template>

<script>
import axios from 'axios'
import api from '../components/Api/api'
import { mapGetters } from 'vuex'
import auth from '../mixins/auth'
export default {
    name: 'Tickets',
    mixins:[auth],
    data(){
        return{

        }
    },
      methods:{
          async getTickets(){
            const response = await axios.get(api.tickets + this.user.clientId + '/allTasks' ,this.authorization());
            if(response){
                this.$store.dispatch('tickets',response.data);
            }
          }
      },
    mounted(){
        this.getTickets();
       
    },

     computed: {
    ...mapGetters(['user', 'tickets'])
  }
}
</script>

<style>
.main-container {
   font-size: 1.5rem;
  }

.ticket-title {
    margin:10px;
}
</style>