<template>
  <section class="comments-wrapper">
      <div class="comments-container space-high">
          <h3>Comments</h3>
          <div class="comment-show" v-for="comment in comments" :key="comment">
           <div class="comment space-top" >
             <div class="comment-details">
                 <p class="space-top-min">{{new Date(comment.commentCreatedAt).toString().slice(0,21)}}</p>
                 <p class="space-top-min">By: {{ comment.user.firstname }}</p>
                 <div class="content-comment">{{ comment.commentContent }}</div>        
             </div>
             <div class="comment-manage">
                 <button>Edit</button>
                 <button>Remove</button>
             </div>
           </div>
              <div class="documents space-top prevent-resize">
             <ul class="documents-list" v-if="!comment.documents.length == 0">
                <li  v-for="document in comment.documents" :key="document.documentId">
                  <a @click.prevent="getSrcForOpenModal(`'http://localhost:3000/assets/comment_document/'${document.documentPath}`, document.documentPath)" :href="'http://localhost:3000/assets/comment_document/' + document.documentPath" target="_blank">
                   <img v-if="document.documentPath.includes('png') || document.documentPath.includes('jpg') || document.documentPath.includes('gif')" type="image" :src="'http://localhost:3000/assets/comment_document/'+document.documentPath" alt="Submit" width="60" height="60" id="uploaded-file">
                   <img v-else type="image" src="../assets/imgs/document.png" alt="Submit" width="60" height="60">
                   <!---<span>{{document.documentPath.slice(18)}}</span>-->
                  </a>
                </li>
             </ul>
           </div> 
          </div>    
      </div>
  </section>
</template>

<script>
import { format, formatDistanceToNow, formatRelative, subDays } from 'date-fns'
export default {
   props:['comments'],

}
</script>

<style scoped>
.comments-wrapper h3{
    text-align: center;
}

.comment {
    display: flex;
    justify-content: space-between;
    align-content:space-around;

}
.comment-manage button {
    margin:0 0.5rem;
}

div.content-comment {
    max-width: 30rem;
    word-wrap: break-word;
    line-height: 20px;
}

.documents-list{
    list-style-type: none;
    flex-wrap: wrap;
    max-width: 40rem;
}

.documents-list li {
    display: inline-block;
    margin-left: 0.5rem;
}

.comment-show {
    border-bottom: 0.2rem solid black;
}
</style>