<template>
  <div class="document-modal-wrapper">
     <div class="close-document-modal">
         <span @click="closeDocumentModal">x</span>
     </div>
      
      <h4>{{documentPreview.documentName}}</h4>
      <img v-if="documentPreview.documentSrc.includes('png') || 
      imgSrcData.includes('jpg') || documentPreview.documentSrc.includes('gif') || 
      imgSrcData.includes('svg')" :src="documentPreview.documentSrc" alt="">
      
      <iframe  width="90%" height="75%" v-else  :src="documentPreview.documentSrc" alt=""></iframe>
      <div class="button-download">
         <button @click="downloadPickDocument">download</button>
     </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
       computed: {
    ...mapGetters(['documentPreview'])
  }

}
</script>

<style>
.document-modal-wrapper {
    position: fixed;
    background: #eee;
    display: inline-block;
    box-shadow: 0 2px 10px rgb(0 0 0 / 50%);
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    width:800px;
    height: 634px;
    top: calc(50% - 634px / 2);
    right: 0;
    left: 0;
    margin: 0 70px;
    white-space: nowrap;
    z-index: 1;
}

.document-modal-wrapper img {
    max-width: 98%;
    max-height: 75%;
}
.document-modal-wrapper h5{
    text-align: center;
}

.button-download {
    margin-top: 20px;
}

.button-download button{
    border-radius: 5px;
    color:white;
    background-color: black;
}

.button-download button:hover{
    box-shadow: 0px 0px 0px 2px black;
}
.close-document-modal {
    display: flex;
    justify-content: flex-end;
}

.close-document-modal span {
    color:black;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin:5px 
}

.close-document-modal span:hover {
    color:grey;
}
</style>