<template>
  <div class="navbar">
      <nav>
         <router-link :to="{ name: 'Home' }"><img src="../assets/imgs/BTB-logo.png" alt=""></router-link>
         <!-- nav left side -->   
         <div class="left-side" v-if="user">
           <input type="text" placeholder="search">
           <label id="select-value">sort by:</label>
           <select name="" id="selected-value">
              <option value="assigned">assigned</option>
              <option value="notassigned">not assigned</option>
              <option value="rejected">rejected</option>
              <option value="paused">paused</option>
              <option value="closed">closed</option>
           </select>
         </div>
         <!-- nav left side -->
         <div class="right-side" v-if="user">
           <span>notify</span>
           <span>account</span> 
         </div>
         <!-- nav log status -->
         <div>
            <div><router-link :to="{ name: 'Login' }">Log In</router-link></div>
            <div><router-link :to="{ name: 'Home' }">Log Out</router-link></div>
         </div>
      </nav>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
    name: 'Navbar',
    data(){
      return{
      }
    },
     computed: {
    ...mapGetters(['user'])
  }

}
</script>

<style scoped>
.navbar{
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
}
.navbar nav {
    background:white;
}

nav {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.left-side input {
    padding:.5rem;
    border:1px solid lightgrey;
    border-radius: 15px;
    outline: none;
}

.left-side #selected-value {
    padding:.5rem;
    border:1px solid lightgrey;
    border-radius: 15px;
    outline: none;
   
}

.left-side label {
  margin: 0.5rem;
}

img{
  border-radius: 10px;
}
</style>