<template>
 <section>
    <div class="ticket-container space-top">
        <h3>Ticket Details</h3>
        <div class="ticket-details" v-if="ticketDetails">
            <p>{{ new Date(ticketDetails.taskCreatedAt).toString().slice(0,21) }}</p>
           <p>Status: {{ ticketDetails.status }}</p>
           <p>By: {{ ticketDetails.user.firstname }} {{ ticketDetails.user.lastname }}</p>
           <h4 class="space-top">Title:</h4>
           <div class="space-top-ver2 prevent-resize">{{ ticketDetails.taskTitle }}</div>
           <h4 class="space-top">Content:</h4>
           <div class="space-top-ver2 prevent-resize"> {{ ticketDetails.taskContent }}</div>
           <div class="documents space-top prevent-resize">
             <ul class="documents-list" v-if="!ticketDetails.documents.length == 0">
                <li  v-for="document in ticketDetails.documents" :key="document.documentId">
                  <a @click.prevent="getSrcForOpenModal(`http://localhost:3000/assets/task_document/${document.documentPath}`, document.documentPath)" :href="'http://localhost:3000/assets/task_document/' + document.documentPath" target="_blank">
                   <img v-if="document.documentPath.includes('png') || document.documentPath.includes('jpg') || document.documentPath.includes('gif')" type="image" :src="'http://localhost:3000/assets/task_document/'+document.documentPath" alt="Submit" width="60" height="60" id="uploaded-file">
                   <img v-else type="image" src="../assets/imgs/document.png" alt="Submit" width="60" height="60">
                   <!--<span>{{document.documentPath.slice(18)}}</span>-->
                  </a>
                </li>
             </ul>
           </div>
        </div>
        <div class="add-comment space-top">
            <p>Add Comment:</p>
            <textarea resize name="" id="" cols="10" rows="10" v-model="addComment"></textarea>
            <input class="upload-file" type="file">
            <button v-if="!loader" @click="sendComment()" class="space-top">Send</button>
            <button v-if="loader" class="space-top">Sending...</button>
        </div>
    </div>
  </section>
</template>

<script>
export default {
    props:['ticketDetails', 'loader'],
    emits:['addComment'],
    data(){
        return{
             addComment:'',
        }
    },
    methods:{
        sendComment(){
            this.$emit("addComment", this.addComment);
            this.addComment = ''
        },
        getSrcForOpenModal(src){
            let fixName = src.slice(45)
            let setDocument = {
                documentSrc: src,
                documentName:fixName,
                documentModal: true
            }
            this.$store.commit("setDocumentPreview", setDocument)
        }
    }

}
</script>

<style scoped>
.ticket-container h3 {
    text-align: center;
}

.space-top {
    margin-top: 2rem;
}

.space-top-ver2 {
  margin-top: 1rem;
}

.documents-list{
    list-style-type: none;
}

.documents-list li {
    display: inline-block;
    margin-left: 0.5rem;
}

.upload-file{
  display: block;
}
</style>