/* custom style */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

/* variables */

:root {
  --primary: #4f515a;
  --secondary: #ebebeb;
  --warning:#da0f41;
}

/* base styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  color: var(--primary);  
}
body{
  background-color: #fafafa;
}
a{
  text-decoration: none;
}

/* buttons */
button, .btn {
  background: var(--secondary);  
  border-radius: 5px;
  border: 0;  
  padding: 8px 12px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block
}
  
  
button:hover, .btn:hover{
  background: var(--primary);
  color: white;
}
  
button:disabled{
  opacity: 0.5;
  color: var(--primary);
  background: var(--secondary);
  cursor: not-allowed;   
}

/* forms */
form{
  max-width: 400px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 1px 2px 3px rgba(50,50,50,0.05);
  border: 1px solid var(--secondary);
  background: white;
}
  
.input-field, textarea{
  border: 0;
  border-bottom: 1px solid var(--secondary);
  padding: 10px;
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 20px auto;
}

/* errors */
.error {
  color: var(--warning);
  font-size: 0.8rem;
  margin: 16px 0; 
}

section {
  max-width: 70%;
  margin: 0 auto;
}


.card {
  padding: 30px;
  border-radius: 8px;
  box-shadow: 1px 2px 3px rgba(50,50,50,0.05);
  border: 1px solid var(--secondary);
  background: white;
  margin:10px;
 }

 .card:hover {
   background-color: var(--secondary);
   cursor: pointer; 
 }

 .content {
     margin-top:10rem;
 }

 textarea {
  resize: none;
}

div,h4,h3,p,span,a {
  user-select: none;
}

.prevent-resize {
  max-width: 90%;
}

.space-high {
 margin-top: 5rem;
}

.space-top {
  margin-top: 3rem;
}
.space-top-min {
  padding-top: 0.3rem;
}