<template>
  <navbar-component />
  <div class="content">
     <router-view/>
  </div>
</template>

<script>
import NavbarComponent from './components/Navbar.vue'
export default {
  components:{ NavbarComponent }
}
</script>

<style>
 .content{
   margin:0 auto;
   max-width: 1200px;
   padding: 0 20px;
   background: rgb(250, 248, 248);
 }
</style>
