<template>
    <form>
     <h3>Forgoten password</h3>
     <input class="input-field" type="text" name="email" id="email" v-model="email" autocomplete="off" >
     <button v-if="!isLogged" @click.prevent="handleLogin">Submit</button>
     <button v-if="isLogged" disabled>Submit...</button>
  </form>
</template>

<script>
export default {

}
</script>

<style>

</style>