<template>
  <form>
     <h3>Log In</h3>
     <input class="input-field" type="text" name="email" id="email" v-model="email" autocomplete="off" >
     <input class="input-field" type="password" name="password" id="password"  v-model="password">
     <div class="forgot-password"><router-link :to="{ name: 'ForgotPassword' }">Forgot passwrod?</router-link></div>
     <button v-if="!isLogged" @click.prevent="handleLogin">Log In</button>
     <button v-if="isLogged" disabled>Loading...</button>
  </form>
</template>

<script>
import axios from 'axios'
import api from '../../components/Api/api'
import auth from '../../mixins/auth'
export default {
    name: 'Login',
    data(){
      return{
        email: '',
        password:'',
        isLogged: false,
      }
    },
    methods:{
      async handleLogin(){
        this.isLogged =  true;
        const response = await axios.post(api.login,{
          email: this.email,
          password: this.password
        })     
        localStorage.setItem('token', response.data.token)
        this.$store.dispatch('user',response.data);
        if(response.data){
          this.isLogged = false;
        }

      }
    }
 
}
</script>

<style>
.forgot-password{
  display: flex;
  justify-content: flex-end;
}

</style>